<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    <h1>Thanks for Coming to Our Booth at Open-Source Linux Conference.</h1>
    <div>
        <form action="/" method="post" >
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
<!--            <label for="message">Message:</label><br>-->
<!--            <input type="textbox" id="message" name="message"><br>-->
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>